# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
.g8/
target/
# IntelliJ
.idea
*.ipr
*.iml
*.iws
out
java.hprof.txt
.DS_Store
# Compiled class file
*.class
# Log file
*.log
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
MaxCore.ser
bin
junit4.*
MaxCore.max
