# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
.g8
# IntelliJ
.idea
*.ipr
*.iml
*.iws
out
java.hprof.txt
.DS_Store
# Compiled class file
*.class
# Log file
*.log
